/* =============
    Fish
============= */
#fish {
    background-color: $blue;

    div {

        section {

            @include md {
                display: flex;
                align-items: center;
                display: grid;
                grid-template-columns: 40% auto 20%;
                grid-template-areas: "fish text .";

            }

            @include lg {
                grid-template-columns: 45% auto 20%;
            }
        ul {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);

            @include md {
                grid-area: fish;

            }

            li:nth-child(1) {
                grid-column: 1 / span 1;
                grid-row: 1 / span 2;
                margin-left: -30px;

                @include md {
                    grid-column: 3 / span 1;
                    grid-row: 2 / span 2;
                    transform: scaleX(-1);

                }

                @include lg {
                    grid-column: 2 / span 1;
                    grid-row: 9 / span 1;
                    transform: scaleX(1);

                }


                img {
                    width: 100%;
                }
            }

            li:nth-child(2) {
                grid-column: 3 / span 5;
                grid-row: 3 / span 7;

                @include md {
                    grid-column: 2 / span 8;
                    grid-row: 3 / span 6;
                }

                @include lg {
                    grid-column: 2 / span 7;
                    grid-row: 2 / span 6;
                }

                img {
                    width: 100%;
                }
            }
        }
        div {

        p:nth-child(1) {
            font-weight: 600;
            font-size: rem-calc(17);
            padding-bottom: 15px;

            @include md {
                font-size: rem-calc(21);
            }
            @include lg {
                font-size: rem-calc(24);
            }
        }

        p:nth-child(2) {
            font-weight: 300;
            @include lg {
                font-size: rem-calc(20);
            }
        }
    }
    }

        article:nth-child(1) {
            @include lg {
                display: grid;
                grid-template-columns: 70% auto;
                grid-template-areas: ". fish3";
            }
            img {
            display: none;
            @include lg {
                grid-area: fish3;
                display: block;
                height: 28px;
                transform: scaleX(-1);

            }
        }
        }
        article:nth-child(3) {
            padding-top: 15px;
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: ". fish";

            @include md {
                display: flex;
                justify-content: flex-end;
                display: grid;
                grid-template-columns: 50% auto 50px;
                grid-template-areas: "fish1 fish .";
            }

            @include lg {
                justify-content: center;

                grid-template-columns: 70% auto;
                grid-template-areas: ". fish";

            }

            img:nth-child(1) {
                display: none;
                @include md {
                    display: block;
                    grid-area: fish1;
                    height: 32px;
                }

                @include lg {
                    display: none;
                }
            }
            img:nth-child(2) {
                grid-area: fish;
                height: 65px;
                @include md {
                    height: 50px;
                }

                @include lg {
                    margin-top: -90px;
                }

            }
        }
    }
}
