/* =============
    Kang
============= */

#kang {
    background-color: $gray;
    div {
        background-image: url("../img/footer/footer.jpg");
        background-position: -520px -510px;
        border-radius: 100px;
        height: 140px;
        margin: 0 auto;
        width: 140px;
        background-repeat: no-repeat;
        border: 10px solid $white;
        box-shadow: 0 0 0 1px $black;
    }

    p {
        text-align: center;
        padding: 30px 10px 0;
        font-weight: 600;

        @include md {
            padding: 30px 160px 0;
        }

        @include lg {
            padding: 30px 300px 0;
        }
    }
}
