/* =============
    Navigation
============= */
nav {
    background-color: $teal;
    padding: 10px;
    @include md {
        background-color: $white;
    }

    ul {
        text-align: right;
        @include md {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: flex-end;
        }

        li {
            margin: 17px 0;
            @include md {
                margin-bottom: 0;
                margin-left: 20px;
                margin-top: 0;
                color: $teal;
            }

            a:link,
            a:visited {
                color: $white;
                @include md {
                    color: $teal;
                }
            }

            a:hover, a:active {
                @include md {
                color: $black;
            }
            }
        }
    }
}
